name: Update EPG Daily

on:
  schedule:
    - cron: '0 0 * * *' # This runs every night at midnight
  workflow_dispatch: # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run update script
        run: python update_epg.py

      - name: Commit and push changes
        run: |
          git config --global user.name "EPG Bot"
          git config --global user.email "bot@epg.com"
          git add combined_epg.xml
          git commit -m "Update EPG data" || exit 0
          git push
